/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
:root {
  --brown: #C09F80;
  --red: #76323F;
  --dark: #565656;
  --tan: #D7CEC7;
  --small-space: 4px;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
label {
    font-size: 13px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: bold;
}
h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: var(--small-space);
}
h4 {
    font-size: 18px;
    margin-top: 23px;
    margin-bottom: var(--small-space);
}
.dashboard-btn {
    border-radius: 6px;
}
.add-button{
    margin-left: var(--small-space);
    padding-top: var(--small-space);
    padding-bottom: var(--small-space);
}
h5:empty {
    display: none;
}
.td-short {
    padding: var(--small-space) 8px !important;
    border-top-width: 0px !important;
}
.td-dashboard {
    padding: var(--small-space) 8px !important;
    border-top-width: 2px !important;
    border-color: var(--tan);
}
.td-pad {
    padding: var(--small-space) 80px 10px 0px;
    background-color: none;
}

.fgColor-white {
    color: white !important;
}
.bgColor-red { background-color: var(--red); }
.bgColor-dark {
    background-color: var(--dark);
}
.bgColor-brown {
    background-color: var(--brown);
}
.bgColor-tan {
    background-color: var(--tan);
}
.btn-standard {
    background-color: var(--tan);
}
.btn-grid {
    background-color: var(--tan);
    margin-top: 25px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.form-label {
    background-color: transparent;
    border: none;
    border-color: transparent;
    box-shadow: none;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 14px;
    line-height: 1.42857143;
}

.required:after {
    content: "*";
    font-weight: bold;
    color: var(--red);
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
